<!DOCTYPE html>
<html class="no-js">
  {% include header.html %}
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include nav.html %}

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Gregory Lawson</h1>
        <p class="lead blog-description">This is where I blog my head......</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          {{ content }}
          <!--
          <nav class="">
            <ul class="pager">
              <li>
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                {% else %}
                <a href="#" class="disabled">Previous</a>
                {% endif %}
              </li>
              <li>
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                {% else %}
                <a href="#" class="disabled">Next</a>
                {% endif %}
              </li>
            </ul>
          </nav>
          <div class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>
          -->
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% include sidebar-about.html %}
          {% include sidebar-posts.html %}
          {% include sidebar-links.html %}
          {% include sidebar-elsewhere.html %}
        </div>  <!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->
    {% include footer.html %}
    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>
