<!DOCTYPE html>
<html class="no-js">
  {% include header.html %}
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include nav.html %}
    <div class="background-image">
      <div class="container">
      <div class="row">
        <div class="col-sm-8 ">
          {{ content }}
        </div>
        <div class="col-sm-4">
          <ins class="adsbygoogle"
               style="display:inline-block;width:336px;height:280px"
               data-ad-client="ca-pub-8900501214767896"
               data-ad-slot="5563476365"></ins>
        </div>
      </div>
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    {% include googleanalytics.html %}
    {% include googleads.html %}
  </body>
</html>
