<!DOCTYPE html>
<html class="no-js">
  {% include header.html %}
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include nav.html %}
    {% include resume-nav.html %}

    <div class="container">


      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-header text-center">
            <h1 class="blog-title">Gregory Lawson</h1>
          </div>
          {{ content }}
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% include sidebar-about.html %}
          {% include sidebar-links.html %}
          {% include sidebar-elsewhere.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>
