<footer class="blog-footer">
  <p>Gregory Lawson Blog</p>
  <p>
    <a href="#">Back to top</a>
  </p>
  <div class="container">
    <div class="text-center">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="/projects.html">Projects</a></li>
      <li role="presentation"><a href="/about.html">About</a></li>
    </ul>
    </div>
    <!--
    <nav class="nav nav-pills">
      <a class="active" href="/">Home</a>
      <a class="" href="/projects.html">Projects</a>
      <a class="" href="/about.html">About</a>
    </nav>
    -->
  </div>
</footer>
