<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- build:css({app,.tmp}) /css/main.css -->
  <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- Custom styles for this template -->
  <link href="/css/blog.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- build:js(app) /js/head-scripts.js -->
  <!-- Replace with a custom modernizer build for production -->
  <script src="/_bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

</head>
